<div class="bar bar-header bar-royal">
  <button class="button button-icon ion-ios7-arrow-back" onclick="window.history.back();"> Back</button>
  <div class="h1 title">Fill Attendance</div>
</div>
<ion-view title="Search">
  <ion-content class="has-header">
    <h4>Fill Attendance</h4>
    <div style="border-top:1px solid #c6c6c6;">
	    <div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Awadhesh Saran Singh</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
   	</div>
 	</ion-content>
</ion-view>
   	


