<ion-view>
  <ion-header-bar align-title="center" class="bar-dark">
      <div class="buttons">
      	<button class="button button-icon ion-ios7-arrow-back " onclick="window.history.back();">
      		Back
	  	</button>
	  </div>
	  <h1 class="title">Fill Attendance</h1>
	  <div class="buttons">
        <button class="button button-icon ion-upload">
        	Save
        </button>
      </div>
    </ion-header-bar>
  <ion-content class="has-header">
    <div style="border-top:1px solid #c6c6c6;">
	    <div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Awadhesh Saran Singh</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
	   	<div class="rowItem">
	    	<div class="rowImg">
	    		<img src="img/student.png" width="60"/>
	    	</div>
		    <div class="rowDetails">
		    		<p class="studName">Rajesh Kumar</p>
		    </div>
		    <div class="rowCheck">
	   			<label class="checkbox">
		       <input type="checkbox">
		     </label>
		    </div>
	   	</div>
   	</div>
 	</ion-content>
</ion-view>