<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="main.isDragable">
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu width="60" side="left">
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/attendance">
          <img width="32" src="img/attendance.png"/>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/assesment">
          <img width="32" src="img/assesment.png"/>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/settings">
          <img width="32" src="img/password.png"/>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/logout">
          <img width="32" src="img/logout.png"/>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
